@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 992px) {
    .header__btn{
        display: none;
    }
    body{
        padding-top: 6.942rem;
    }
    .home__title {
        font-size: 4.5rem;
    }
    .feature{
        min-height: 18rem;
    }
}
@media only screen and (max-width: 768px) {
    .menu{
        position: absolute;
        top: -100rem;
        bottom: 0;
        gap: 2rem;

        margin: 1.5rem 0;

        height: 100vh;
        width: 100%;

        flex-direction: column;
        align-items: start;

        padding: 2rem;

        backdrop-filter: blur(5px);
        
        z-index: -1;
        transition: all 500ms ease;
    }
    .menu::after{
        content: ' ';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        background-image: linear-gradient(to top right ,var(--bg-color) 70% , var(--main-color) 150%);
        z-index: -1;
        opacity: .9;
        border: 2px solid var(--main-color);

    }
    .menu-item{
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 2rem;
        width: 15rem;
    }
    .menu-item:last-child{
        border: none;
    }
    .menu-socials{
        display: flex;
    }
    .mobile-menu-btn{
        display: flex;
    }
    .menu--open{
        top: 104% !important;
    }


    .home__right{
        display: none;
    }
    .home__title {
        font-size: 5rem;
    }

    .feature{
        min-height: 21.1rem;
    }
    .feature__title{
        margin-top: 1rem;
    }
    .pricing__plan{
        max-width: 25.5rem;
        padding: 1.5rem;
    }
    .pricing__link{
        padding: 1rem 3rem;
    }
    .footer__contact{
        margin-bottom: 4rem;
    }
    .footer__bottom-wrapper{
        flex-direction: column-reverse;
        align-items: start;
        gap: 3rem;
    }
}


@media only screen and (max-width: 576px) {
    .home__title {
        font-size: 4rem;
    }
    
    .feature{
        min-height: 15.3rem;
    }
}


@media only screen and (max-width: 300px) {
    .home__title {
        font-size: 3rem;
    }
}

