@import './node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './node_modules/reset-css/reset.css';



:root {
    font-size: 10px;

    --main-color: #017373;
    --bg-color: #080808;
    --text-color: #EFECE6;
    --main-color-light: #018989;
    --text-color-light: #737373;
}
body {
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 8.143rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* helper classes */
.site-btn {
    border-radius: .5rem;
    border: none;
    background-image: linear-gradient(to top right, var(--main-color), #fff 150%);
}
section,
footer{
    margin-top: 8rem;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    width: fit-content;
    margin: 8rem auto 0;

    padding-top: 3rem;

    position: relative;
}
.note::before{
    content: url('./images/note.svg');

    position: absolute;
    top: 0;
    left: 0;
}


.note__text{
    font-size: 2.5rem;
    max-width: 48rem;
    text-align: center;
}
.note__person{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;
}
.note__person-name{

}
.note__person-role{
    color: var(--text-color-light);
}


.seaction-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7rem;
}
.section-title{
    font-size: 3.5rem;

}
.section-title span{
    color: var(--main-color);
}
.section-text{
    color: var(--text-color-light);
    margin-top: 1rem;
}
/* helper classes */

/* start header */

.header {
    border-bottom: 2px solid var(--main-color);
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
    background-color: var(--bg-color);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo__icon {}

.logo__text {
    font-weight: bold;
    font-size: 2rem;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.menu-item {}

.menu-item-link {
    transition: all 200ms ease;
}

.menu-item-link:hover {
    color: var(--main-color-light);
}

.menu-item--active a {
    color: var(--main-color);
    font-weight: bold;
}

.menu-socials {
    display: none;
    gap: 1rem;
    margin-top: 7rem;
    flex-wrap: wrap;
}

.menu-socials-item {}

.menu-socials-link {}

.menu-socials-icon {}

.header__btn {
    width: 16rem;
    height: 5rem;

}

.header__btn-text {}

.header__btn-icon {}


.mobile-menu-btn {
    display: none;
    width: 3.8rem;
    height: 3.8rem;

    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to right, var(--main-color) 80%, #fff 170%);
    border-radius: .8rem;
    cursor: pointer;
}

.mobile-menu-btn__line {
    position: relative;
    width: 2.7rem;
    height: .35rem;
    background-color: #fff;
    border-radius: 4rem;
}

.mobile-menu-btn__line::before {
    position: absolute;
    top: .7rem;
    content: ' ';
    width: 2.7rem;
    height: .35rem;
    background-color: #fff;
    border-radius: 4rem;
    transition: all 500ms ease;
}

.mobile-menu-btn__line::after {
    position: absolute;
    bottom: .7rem;
    content: ' ';
    width: 2.7rem;
    height: .35rem;
    background-color: #fff;
    border-radius: 4rem;
    transition: all 500ms ease;
}

.mobile-menu-btn__line--open.mobile-menu-btn__line {
    background-color: transparent;
}

.mobile-menu-btn__line--open.mobile-menu-btn__line::after {
    transform: rotate(45deg) translate(.5rem, .5rem);
}

.mobile-menu-btn__line--open.mobile-menu-btn__line::before {
    transform: rotate(-45deg) translate(.5rem, -0.5rem);
}

/* end header */

/*-------------------------------------- main ----------------------------------*/

/* start home */

.home {

}

.home__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__left {

}

.home__title {
    font-size: 5rem;
    max-width: 44rem;
}

.home__title span {
    color: var(--main-color-light);
}

.home__text {
    font-size: 1.4rem;
    color: var(--text-color-light);
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.home__input-wrapper {
    position: relative;
    max-width: 35rem;
}

.home___input {
    width: 100%;
    border: none;
    height: 4.5rem;
    border-radius: .5rem;
    padding: 1rem;
    padding-right: 13rem;
    outline: none;
}

.home___btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: .2rem;
    padding: 1rem 1.5rem;
}



.home__right{
    display: flex;
    justify-content: center;
}

.home__vector{
    width: 100%;
    max-width: 30rem;
}
/* end home */

/* start logos slider */

.logos-slider{
    overflow-x: hidden;
}

.swiper{
    position: relative;
    width: 100%;
}

.swiper::after{
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 10;
    opacity: 50%;
    background-image: linear-gradient(to left ,var(--bg-color) 35%, rgba(0,0,0,0) 100% );
    pointer-events: none;
}

.swiper::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 10;
    opacity: 50%;
    background-image: linear-gradient(to right ,var(--bg-color) 35%, rgba(0,0,0,0) 100% );
    pointer-events: none;
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

/* end logos slider */

/* start feature */

.features{

}
.feature{
    border: 2px solid var(--main-color);
    padding: 2rem;
    border-radius: 1rem;
    margin: .75rem 0;
}
.feature__icon{

}
.feature__title{
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.feature__desc{
    color: var(--text-color-light);
    font-size: 1.4rem;
}

.more-height{
    min-height: 23.5rem;
}

/* end feature */

/* start middle section */

.meddle-section{

}
.phone-image-wrapper{
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 1rem;

    max-width: 70rem;
    margin: 8rem auto 0;
}
.phone-image-wrapper::after{
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    opacity: .55;
}
.phone-image{
    width: 100%;
    height: 100%;
    filter: saturate(3) contrast(180%);
}

/* end middle section */

/* start pricing */

.pricing__heaeder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.pricing__monthly{

}
.pricing__swich{
    height: 3rem;
    width: 6rem !important;
}
.pricing__swich:checked {
    background-color: var(--main-color) !important;
}

.pricing__yearly{

}
.pricing__off-info{
    padding: .6rem 2rem;
    border-radius: 5rem;
    color: #080808;
}


/* start pricing plans */

.pricing__plan{
    border: 2px solid var(--main-color);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 35rem;
    margin: .75rem auto;
}
.plan__name-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--main-color-light);
}
.plan__icon{

}
.paln__name{

}
.plan__price-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 4rem;
}
.plan__price-number{
    font-size: 4rem;
    font-weight: bolder;
}
.plan__price-pertime{
    height: 4rem;
    display: flex;
    align-items: end;
}
.pricing__options{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}
.pricing__options-item{
    font-size: 1.4rem;
}
.pricing__link{
    border: 2px solid var(--main-color);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem 5rem;
    margin: 0 auto .5rem;
    border-radius: 1rem;
    gap: 1rem;
    color: var(--bg-color);
    transition: all 200ms ease;
}
.pricing__link:hover{
    background-color: var(--bg-color);
    color: #EFECE6;
}
.pricing__credit-cart{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: var(--text-color-light);
}

.white-bg{
    background-color: #fff;
    color: var(--bg-color) !important;
}

/* end pricing plans */

/* end pricing */



/* start questions */

.questions{

}
.questions__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    gap: 1rem;
}
.accordion__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}
.accordion__panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--text-color);
    color: var(--bg-color);
    /* padding: 2rem ; */
    border-radius: 1rem;
    /* border: 2px solid var(--main-color-light); */
    gap: 1rem;

    transition: all 500ms ease;
    max-height: 0;
    overflow: hidden;
}
.accordion__panel--open{
    padding: 2rem ;
    border: 2px solid var(--main-color-light);
    max-height: 35rem;
}
.accordion__panel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.accordion__panel-title{
    font-weight: bold;
    font-size: 1.8rem;
}
.accordion__panel-content{

}

/* end questions */

/* start footer */

.footer{
    margin-bottom: 10rem;
    border-top: 2px solid var(--main-color);
    padding-top: 7rem;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 13rem;
}
.footer__logo{
    justify-content: start;
}
.footer__input-wrapper{
    position: relative;
    max-width: 25rem;
}
.footer__input{
    width: 100%;
    padding: 1rem;
    padding-right: 5rem;
    border-radius: 1rem;
    border: 2px solid var(--main-color);
    outline: none;
}
.footer__input-icon{
    position: absolute;
    right: 1.5rem;
    height: 100%;
}
.footer__links-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer__links-group{
    margin: .6rem;
}
.footer__links-title{
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.footer__link{
    color: var(--text-color-light);
    margin-bottom: .5rem;
    display: block;
    transition: all 200ms ease;
}

.footer__link:hover{
    color: var(--main-color-light);
}



.footer__bottom{

    background-color: var(--main-color-light);
}
.footer__bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.footer__copyright{

}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-socials-item{

}
.footer-socials-link{

}
.footer-socials-icon{

}

/* end footer */